
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a { /*li a se refiere al texto  */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {/*ESTADO DE CSS*/
    background-color: #555;
    color: #fff;
}


.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.hero .title {
    font-size: 50px;
    color: red;
}

.hero .image img {
    width: 200px;
    height: auto;
}

.hero .title_image {
    display:flex; 
    align-items: center; 
    width: 100%;
    justify-content: center;
    margin: 40px;

}

.button {
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid black;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: blue;
    transform: scale(1.05);
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about, .footer {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.footer:hover{
    background-color: #f4f4f4;
    color: red;
    padding: 50px 20px;
    text-align: center;
}


